.summary, .documentByLine{
    display:none !important;
}

body{
    background-image: url('banner-mirror.jpg');
    height: 100%;
    background-size: cover;
}
#content {
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

#portal-globalnav li a, #portal-globalnav{
    background: #A03CB8 !important;
    color: white!important;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Alex Brush';
    font-style: oblique;
    border: none;
}
#portal-globalnav li + li a {
    border-left: 1px solid;
}

#portal-globalnav li a:hover{
    background-color: #e8adf7 !important;
}

.carousel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}


/*MUA page*/
.mua-page-img{
    height: 55em;
    width: 45em;
    object-fit: cover;
}

#img-list-wrapper {
  max-width: 1000px;
  position: relative;
  padding-top: 5em;
  width: 45em;
}

#view-imgs{
    padding-top:4em;
}

.img-container{
    display: none;
}

.documentFirstHeading{
    font-size: 5em;
}

#mua-description-div{
    margin-top: 2em;
    font-size: 2em;
}

.mua-rate{
    float: right;
    padding-right: 2.1em;
    margin-top: -210px !important;
    font-size: 35px;
}

.documentDescription.description{
    display:none;
}

/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

.mua-page-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
  /*margin-right: 23.5em;*/
}

#prev {
  /*margin-left: 28.3em;*/
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#footer h2{
    padding-top: 4em;
    padding-bottom: 1em;
    text-decoration: underline;
}

#footer p{
    font-size: 1.5em;
}

#map {
  height: 500px;
  width: 50%;
 }

/* MUA listing */
.mua-info{
    font-size:2.3em;
    font-weight: bold;
    padding-left: 1em;
}

.mua-info span{
    font-weight: normal;
}

.mua-listing{
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 2em;
    background-color: #EFCBD5;
    padding-bottom: 1.5em;
    flex: 1 0 48%;
    margin-left: 15px;
    display: none;
}
.mua-listing.active-rating.active-name {
    display: block;
}

.mua-listings {
  /*float: left;
  width: 35%;*/
      display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
        clear: both;
}

#first-info{
    padding-top: 1.5em;
}

.mua-listing a{
    border-style: none !important;
}

.documentFirstHeading{
    padding-bottom: 1em;
}

.btn,
 .qq-upload-button {
  background: #A03CB8;
  background-image: -webkit-linear-gradient(top, #A03CB8, #f0b2ee);
  background-image: -moz-linear-gradient(top, #A03CB8, #f0b2ee);
  background-image: -ms-linear-gradient(top, #A03CB8, #f0b2ee);
  background-image: -o-linear-gradient(top, #A03CB8, #f0b2ee);
  background-image: linear-gradient(to bottom, #A03CB8, #f0b2ee);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover,
 .qq-upload-button:hover {
  background: #A03CB8;
  background-image: -webkit-linear-gradient(top, #A03CB8, #000000);
  background-image: -moz-linear-gradient(top, #A03CB8, #000000);
  background-image: -ms-linear-gradient(top, #A03CB8, #000000);
  background-image: -o-linear-gradient(top, #A03CB8, #000000);
  background-image: linear-gradient(to bottom, #A03CB8, #000000);
  text-decoration: none;
}

/*Pop-up register form*/

body {
    background-color: #FCFCFC;
}

.cover {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.blur-in {
    -webkit-animation: blur .2s forwards;
    -moz-animation: blur .2s forwards;
    -o-animation: blur .2s forwards;
    animation: blur .2s forwards;
}

.blur-out {
    -webkit-animation: blur-out .2s forwards;
    -moz-animation: blur-out .2s forwards;
    -o-animation: blur-out .2s forwards;
    animation: blur-out .2s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

.pop-up {
    position: fixed !important;
    /*margin: 5% auto;*/
    left: 5%;
    right: 5%;
    top: 0;
    z-index: 2;
    width: auto !important;
}

.box {
    background-color: #EEE4E5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: relative;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    /*width: 1500px;*/
}

.button {
    margin 0 auto;
  background-color: #FF8566;
    margin-bottom: 33px;
}

.button:hover {
    background-color: #7CCF29;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

.close-button {
    transition: all 0.5s ease;
    position: absolute;
    background-color: #FF9980;
    padding: 1.5px 7px;
    left: 0;
    margin-left: -10px;
    margin-top: -9px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: white;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
}

.close-button:hover {
    background-color: tomato;
    color: #fff;
}

.box.small-6.large-centered h1 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    background: #A03CB8;
    background-image: -webkit-linear-gradient(top, #A03CB8, #f0b2ee);
    background-image: -moz-linear-gradient(top, #A03CB8, #f0b2ee);
    background-image: -ms-linear-gradient(top, #A03CB8, #f0b2ee);
    background-image: -o-linear-gradient(top, #A03CB8, #f0b2ee);
    background-image: linear-gradient(to bottom, #A03CB8, #f0b2ee);
}

#caleandar{
    margin: 0 auto;
}

#cal-header{
        font-size: 25px;
    float: left;
    margin-left: 20px;
}

.group 			  {
  position:relative;
  margin-bottom:45px;
}

.group input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
.group input:focus 		{ outline:none; }

/* LABEL ======================================= */
.group label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ .group label, input:valid ~ .group label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

#reservation-inputs{
    float: right;
    margin-top: -500px;
    padding-right: 50px;
}

#reservation-inputs h2{
    padding-bottom: 20px;
    padding-top: 50px;
}


.info-mes {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(info_icon.png);
    font-size: 17px;
    margin-top: -20px;
    background-repeat: no-repeat;
    height: 40px;
    background-position: 10px center;
}

.info-mes p{
    padding-top: 8px;
    padding-left: 40px;
}

/*ADD new MUA*/
label.horizontal{
    font-size: 25px;
}

#form-buttons-save, #form-buttons-cancel{
width: 90px;
height: 50px;
font-size: 20px;
}

/*second upload*/
#portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e74656e745f747970650a4d616b6575704172746973740a696d616765732d717569636b2d75706c6f6164{
    display: none;
}

/*mua filter*/
#mua_filter{
    font-size: 25px;
    /* width: 33%; */
    /* margin-left: 800px; */
    /* display: flex; */
    margin-bottom: 1em;
}

#mua_filter input{
    margin-bottom: 20px;
    height: 25px;
    font-size: 25px;
}

#mua_filter select{
    height: 40px;
    width: 50px;
    font-size: 25px;
}

#mua_filter button{
    display: block;
}

#portaltab-all-clients{
    display: none;
}

#portaltab-all-artists{
    display: none;
}

/*navigation portlet*/
#portletwrapper-706c6f6e652e6c656674636f6c756d6e0a636f6e746578740a2f506c6f6e650a6e617669676174696f6e
{
 display:none;
}

/*home page buttons*/
#mua-link button a, #register-link button a{
 color:white !important;
}

.description.discreet{
    display: none;
}
