.summary, .documentByLine{
    display:none !important;
}

body{
    background-image: url('banner-mirror.jpg');
    height: 100%;
    background-size: cover;
}

#portal-globalnav li a, #portal-globalnav{
    background: #A03CB8 !important;
    color: white!important;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Alex Brush';
    font-style: oblique;
    border-left: 0.1em solid white;
}

#portal-globalnav li a:hover{
    background-color: #e8adf7 !important;
}

.carousel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}


/*MUA page*/
.mua-page-img{
    height: 55em;
    width: 45em;
}

#img-list-wrapper {
  max-width: 1000px;
  position: relative;
  padding-top: 5em;
}

#view-imgs{
    padding-top:4em;
}

.img-container{
    display: none;
}

.documentFirstHeading{
    font-size: 5em;
}

#mua-description-div{
    margin-top: 2em;
    font-size: 2em;
}

#mua-rate{
    float:right;
    padding-right: 1em;
}

.documentDescription.description{
    display:none;
}

/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

.mua-page-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 23.5em;
}

#prev {
  /*margin-left: 28.3em;*/
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#footer h2{
    padding-top: 4em;
    padding-bottom: 1em;
    text-decoration: underline;
}

#footer p{
    font-size: 1.5em;
}

#map {
  height: 500px;
  width: 50%;
 }

/* MUA listing */
.mua-info{
    font-size:2.3em;
    font-weight: bold;
    padding-left: 1em;
}

.mua-info span{
    font-weight: normal;
}

.mua-listing{
    width: 1000px;
    height: 300px;
    background-color: yellow;
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 2em;
    background-color: #EFCBD5;
}

#first-info{
    padding-top: 1.5em;
}

.mua-listing a{
    border-style: none !important;
}

.documentFirstHeading{
    padding-bottom: 1em;
}







