.summary, .documentByLine{
    display:none !important;
}

body{
    background-image: url('banner-mirror.jpg');
    height: 100%;
    background-size: cover;
}

#portal-globalnav li a, #portal-globalnav{
    background: #A03CB8 !important;
    color: white!important;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Alex Brush';
    font-style: oblique;
    border-left: 0.1em solid white;
}

#portal-globalnav li a:hover{
    background-color: #e8adf7 !important;
}

.carousel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}


/*MUA page*/
.mua-page-img{
    height: 45em;
    width: 45em;
}

#img-list-wrapper {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.img-container{
    display: none;
}

.documentFirstHeading{
    font-size: 5em;
}

#mua-description-div{
    margin-top: 2em;
    font-size: 2em;
}

#mua-rate{
    float:right;
    padding-right: 1em;
}

/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 52em;
}

#prev {
  margin-left: 28.3em;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





